.traceTitle {
    padding-top: 60px;
    font-size: 20px;
    text-align: center;
}

.questionCategory {
    margin: 0 auto;
    color: #337ab7;
    border: solid 1px #337ab7;
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%/50%;
}

.factorClassification {
    margin: 0 auto;
    color: #5cb85c;
    border: solid 1px #5cb85c;
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%/50%;
}

.traceability {
    margin: 0 auto;
    color: #5bc0de;
    border: solid 1px #5bc0de;
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%/50%;
}

.rightArrow {
    width: 60px;
}

.traceContent {
    margin-top: 60px;
}

.traceContent p {
    margin-left: 20px;
    margin-right: 20px;
}

.grade1 {
    margin-top: 110px;
    margin-bottom: 110px;
}

.grade2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.grade3 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.grade4 {
    margin-top: 110px;
    margin-bottom: 110px;
}

.grade5 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.guideDescription {
    font-size: 15px;
    line-height: 30px;
}

.describeWord {
    min-height: 142px;
}