.faultTable {
    text-align: center;
}

th {
    text-align: center;
}

.faultSearch {
    margin-top: 50px;
}

.faultTable {
    margin-top: 30px;
}

.searchContent {
    font-size: 16px;
}

.faultOverviewTitle {
    font-size: 16px;
}