<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>首页——开关设备影响因素分析</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!--<link rel="shortcut icon" type="picture/x-icon" href="images/favicon.jpg">-->

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="/home/css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="/home/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="/home/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/home/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/home/css/shortcode/responsive.css">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="/home/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="/home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start of header area -->
    <header class="header-area">
        <div class="header-top navy-bg ptb-20">

            <img src="/home/images/logo.png" style="width:190px;height:50px;margin-left:50px;">
            <href alt="" style="font-size:16px;color:#fff;margin-right:100px;float:right;margin-top:15px">注册</href>
            <href alt="" style="font-size:16px;color:#fff;margin-right:80px;float:right;margin-top:15px">登陆</href>
            <href alt="" style="font-size:16px;color:#fff;margin-right:80px;float:right;margin-top:15px;">用户手册</href>

        </div>

    </header>
    <!-- mobile-menu-area start -->

    <!-- mobile-menu-area end -->
    <!-- End of header area -->
    <!-- Start of slider area -->
    <div class="slider-area">
        <div class="slider-active">
            <div class="slider-all">
                <img src="/home/images/1.jpg" style="height:650px;">
                <div class="slider-text-wrapper">
                    <div class="table">
                        <div class="table-cell">
                            <div class="slider-text animated">
                                <h1>高压开关设备影响因素分析</h1>
                                <p>通过对高压开关设备故障影响因素的定性和定量分析，找出影响高压开关设备故障的主要因素以及某种故障发生的概率与影响因素之间的量化关系 <br>
                                    为设备维护环节提供参考依据，对电力稳定保障具有深远的意义 </p>
                                <a class="button extra-small mb-20" href="/traceBack">
                                    <span>点击进入</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-all">
                <img src="/home/images/hezhao.jpg" style="height:650px;">
                <div class="slider-text-wrapper">
                    <div class="table">
                        <div class="table-cell">
                            <div class="slider-text animated">
                                <h1>智能制造与工业大数据研究中心</h1>
                                <p>中心围绕国家智能制造、中国制造 2025 的军民重大需求，面向“智能装备、智能工厂与智能服务”<br>将工业大数据、人工智能、可靠性、PHM、仿真、CPS
                                    等技术深度融合创新，构建工业信息物理生态系统 </p>
                                <p style="text-align:center"><img src="/home/images/erweima.jpg"
                                                                  style="width:100px;height:100px; margin-left: 47.5%">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="event-area ptb-110   id = ptb-110">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center pt-110 mb-60">
                        <h1 class="uppercase">功能组成</h1>

                        <div class="separator my mtb-15">
                            <i class="icofont icofont-hat-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="news-are">
                        <div class="news-img">
                            <img src="/home/images/8.jpg">
                            <div class="news-date navy-bg">

                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">分析计算</a></h3>
                            <p>提供封装好的计算分析模型。对开关设备原始故障数据进行预处理，之后将预处理后的故障数据资源通过定性和定量分析，最终获得故障影响因素及其影响权重</p>
                            <a class="button extra-small" href="/traceBack">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/9.jpg">
                            <div class="news-date navy-bg">

                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">追溯指南</a></h3>
                            <p>对高压开关设备故障所属的类型、故障因素等进行展示。包含质量问题分类、影响因素分析和质量问题追溯三个模块，通过点击可查看相关对象。</p>
                            <a class="button extra-small" href="/traceGuide">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/10.jpg">
                            <div class="news-date navy-bg">

                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">知识库</a></h3>
                            <p>知识库包含了高压开关设备故障影响因素分析所需要了解的专业领域知识。主要包含失效模式、机械故障总览和电气故障总览。</p>
                            <br>
                            <a class="button extra-small" href="/faultKnowledge">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="button extra-small news-btn mt-60" href="#">
                        <!-- <span>View All News</span> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End page content -->
    <!-- Start footer area -->
    <footer class="footer-area">
        <div class="footer-top ptb-100 navy-bg">
            <h5 style="font-size: 16px;color: #fff;text-align: center;">©2018&nbsp;西安电子科技大学智能制造与工业大数据研究中心</h5>
        </div>
    </footer>
    <!-- End footer area -->
    <!-- start scrollUp
    ============================================ -->
    <div id="toTop">
        <i class="fa fa-chevron-up"></i>
    </div>

    <!--style-customizer start -->
    <!--style-customizer end -->
</div>
<!-- Body main wrapper end -->
<!-- Placed js at the end of the document so the pages load faster -->
<!-- jquery latest version -->
<script src="/home/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap framework js -->
<script src="/home/js/bootstrap.min.js"></script>
<!--  ajax-mail.js  -->
<!--<script src="/home/js/ajax-mail.js"></script>-->
<!-- All js plugins included in this file. -->
<script src="/home/js/plugins.js"></script>
<script src="/home/js/main.js"></script>

</body>

</html>
