<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>traceBack</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assert/css/nav.css" rel="stylesheet">
    <link href="/traceback/css/mainPage.css" rel="stylesheet">

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <script src="/traceback/js/mainPage.js"></script>
</head>
<body class="container-fluid">
<header>
    <div class="row">
        <div class="col-md-3 col-lg-3 title">
            <img src="/assert/picture/SchoolBadge.png" alt="西安电子科技大学" class="schoolBadge"/>
            <a href="/home">开关设备影响因素分析</a>
        </div>
        <div class="col-md-1 col-lg-1 col-md-offset-6 col-lg-offset-6 nav">
            <a href="/traceBack">分析计算</a>
        </div>
        <div class="col-md-1 col-lg-1 nav">
            <a href="/traceGuide">追溯指南</a>
        </div>
        <div class="col-md-1 col-lg-1 nav">
            <a href="/faultKnowledge">知识库</a>
        </div>
    </div>
</header>
<div class="row functionContainer">
    <div class="col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1 setting">
        <form>
            <div class="form-group">
                <label for="failureType">故障类型:</label>
                <select name="failureType" class="form-control" id="failureType">
                    <option value="leak">SF6泄露</option>
                    <option value="deterioration">主要部件劣化</option>
                    <option value="abnormal">操作机构异常</option>
                    <option value="damage">辅助部件损坏</option>
                </select>
            </div>
            <div class="form-group">
                <label for="analysisType">分析类型：</label>
                <select name="analysisType" class="form-control" id="analysisType" onchange="setParamAvail()">
                    <option value="qualitative">定性分析</option>
                    <option value="quantitative">定量分析</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dataSource">数据源：</label>
                <select name="dataSource" class="form-control" id="dataSource" onfocus="getDataSource()"
                        onblur="showTableDate()">
                </select>
            </div>
            <hr>
            <div class="form-group" id="supportForm">
                <label for="support">支持度：</label>
                <input type="number" class="form-control" id="support" placeholder="0.2" min="0.0" max="1.0" step="0.1">
            </div>
            <div class="form-group" id="confirmationForm">
                <label for="confidence">置信度：</label>
                <input type="number" class="form-control" id="confidence" placeholder="0.5" min="0.0" max="1.0"
                       step="0.1">
            </div>
            <div class="form-group" id="minForm">
                <label for="minLength">置信度：</label>
                <input type="number" class="form-control" id="minLength" placeholder="2" min="2" step="1">
            </div>
            <div class="form-group" id="maxForm">
                <label for="maxLength">置信度：</label>
                <input type="number" class="form-control" id="maxLength" placeholder="4" min="2" step="0.1">
            </div>
            <hr id="splitLine">
            <input class="btn btn-default btn-primary" id="submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="col-md-8 col-lg-8 viewArea">
        <div id="contentViewer">
            <img src="/traceBack/picture/dataAnalysisBack.png" alt="西安电子科技大学" class="dataAnalysisBack"/>
        </div>
    </div>
</div>
<footer>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 foot">
            <p>©2018 西安电子科技大学智能制造与工业大数据研究中心</p>
        </div>
    </div>
</footer>
</body>
</html>