<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据内容</title>
</head>
<body>
<table class="table table-bordered table-bordered">
    <tr>
        <th th:each="titleName : ${title}">
            <span th:text="${titleName}"></span>
        </th>
    </tr>
    <tr th:each="lineData : ${tableData}">
        <div th:each="dataValue : ${lineData.values()}">
            <td th:text="${dataValue}"></td>
        </div>
    </tr>
</table>
</body>
</html>