header .row {
    padding-left: -15px;
    padding-right: -15px;
    background: #2D3E50;
    height: 52px;
}

a, a:hover {
    color: white;
    text-decoration: none
}

.title {
    padding-left: 30px;
    letter-spacing: 12px;
    font-size: x-large;
    text-align: left;
    line-height: 52px;
}

.nav {
    font-size: large;
    line-height: 52px;
}


.schoolBadge {
    width: 48px;
}

footer .row {
    background-color: #2D3E50;
    height: 30px;
}

.foot {
    color: white;
    text-align: center;
    line-height: 30px;
    height: 30px;
}

.foot p {
    margin-bottom: 0;
}